#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.swiper-slide img {

  display: block;
  width: 50%;
}

.btn{
  overflow: hidden;
}

.btn span{
  position: relative;
  display: inline-block;
  transition: transform 0.5s;
  text-shadow: 0 35px #fff;
  transform: translateY(0px);
}
span.hover{
  color:red;
}

.btn:hover span.hover{
  transform: translateY(-35px);
}
.btn span.hover{
  transform: translateY(-35px);
}

